*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.color-form {
  width: max-content;

  border: 2px solid #09225b;
  padding: 2rem 4rem;
  border-radius: 0.5rem;
}

.color-form form {
  display: flex;
  align-items: center;
}
.color-label {
  color: #0f172a;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.0625rem;
  text-transform: capitalize;
  margin-right: 1rem;
}

.color-picker {
  width: 3.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  border: none;
  outline: none;
  margin-right: 0.25rem;
}
.color-input {
  height: 2.5rem;
  width: max-content;
  padding: 0.5rem;
  font-size: 1.25rem;
  color: #0f172a;
  font-weight: medium;
  margin-right: 0.25rem;
}

.submit-btn {
  height: 2.5rem;
  padding: 0.5rem;
  font-weight: 600;
  border: 2px solid #09225b;
  font-size: 1rem;
  /* transition: all 0.5s ease-in-out; */
  cursor: pointer;
  background-color: #09225b;
  color: white;
}
